<html>
    <head>
        <title>Sports</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" rel="stylesheet">
        <style>
            body {
              background-image: url('images/back.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed; 
              background-size: 100% 100%;
            }
            </style>
    </head>
    <body>
        <div class="ui menu">
            <div class="ui container">
                <div class="header item" style="font-size:20px">
                    <i class="football ball icon"></i>E-Sports
                 </div>
                <div class="right menu" style="font-size:15px">
                    <a class="item" href='/'>
                            Home
                          </a>
                        <a class="item" href='/login'>
                            Login
                          </a>
                        <a class="item" href="/signup">
                            Signup
                         </a>      
                 </div>
            </div>
        </div>
        <div class="ui container"style="text-align: center; ">
            <h1 style="color:rgb(255, 217, 0)">Node js web development Project</h1>
            <h1 style="color:white;">Technologies Used</h1>
            <p style="color:white;">
             Express<br>
             MongoDB<br>
             NodeJs <br>
             EJS</p><br><br><br><br><br><br><br>
            <div class="dev-image">
                <img src="images/profile.jpg" width="270px" height="300px">
              </div><br><br>
            <h1 style="color:white;"><b> Developed By :- Ankesh Yadav </h1>
            <h1 style="color:white;">Email        :- ankeshyadav0007@gmail.com</b></h1><br>
        </div>
        <footer>
            <h3><i class="football ball icon"></i>E-Sports</h3>
            <p style="color:rgb(255, 217, 0); text-align: center;">&copy 2020 E-Sports Tournaments</p>
        </footer>
    </body>
</html>